<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Caledonia Yachts</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-info bg-dark fixed-left">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar" style="background-color: #0026ff !important"></span>
                <span class="icon-bar" style="background-color: #ffffff !important"></span>
                <span class="icon-bar" style="background-color: #0026ff !important"></span>
            </button> 
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Photos/CaledoniaYachts_navbarLogo.jpg" height="30" >

            </a>
            @Html.ActionLink("Caledonia Yachts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collape navbar-collapse collapse-navbar collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item"> @Html.ActionLink("O firmie", "About", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Oferta", "Oferta", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Realizacje", "Realizacje", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Historia", "Historia", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Profil", "Profil", "Home")</li>
            </ul>
        </div>
    </nav>
    <div style="background-image: url('/Photos/bgImage.jpg'); background-repeat: no-repeat; background-size:auto; background-position: center center;">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <div class="container-fluid">
                <div class="row">
                    <footer>
                        <div class="col-lg-6">
                            <p>&copy; @DateTime.Now.Year - Caledonia Yachts</p>
                        </div>
                        <div class="col-lg-6">
                            <p class="pull-right">By Balttazarr</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/three")
    @Scripts.Render("~/bundles/GLTFLoader")
    @RenderSection("scripts", required: false)
</body>
</html>
